/* font */
@import url('https://fonts.googleapis.com/css2?family=Gulzar&family=Hind+Siliguri&family=Martel:wght@300&family=Montserrat:wght@600&family=PT+Serif&family=Poppins:wght@600&family=Roboto:wght@500&family=Ubuntu:ital,wght@0,500;1,400&display=swap');

/* common style  */
body {
    font-family: 'Poppins', sans-serif;
}

/* header part style */

.container {
    width: 100%;
    background-color: #161616;
    border-radius: 5px;
    display: flex;
    margin-bottom: 20px;
}

.half-width {
    width: 50%;
    margin-left: 60px;
}

.half-width .section-title {
    color: #FFFFFF;
    font-size: 70px;
}

.half-width .section-detail {
    color: #FFFFFF;
    font-size: 16px;
    padding-bottom: 10px;
}

.half-width a {
    text-decoration: none;
    color: white;
    background-color: #DD0000;
    border-radius: 5px;
    padding: 16px 25px;
}

.half-width img {
    width: 100%;

}

/* Main Area start */
.main-area {
    display: flex;
    column-gap: 10px;
}


.upcomig-area {
    background-color: #161616;
    height: 312px;
    width: 312px;
    padding-left: 20px;
    margin-bottom: 10px;

}

.upcoming-btn div {
    background-color: white;
    margin-top: 30px;
    margin-right: 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;

}

.upcoming-btn div a {
    text-decoration: none;
    color: #161616;
}

#btn-color {
    background-color: #DD0000;
}

#btn-color a {
    color: white;
}


.blogs {
    width: calc(100% - 312px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.blog {
    width: 312px;
    box-shadow: 3px 3px 5px gray;
    border-radius: 10px;
}

.blog-info {
    margin-left: 10px;
}

.blog .icons {
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
}



/* Footer style */
.footer-container {
    background-color: #161616;
    padding: 0;
    margin: 0;
    width: 100 vh;
}

.footer-title {
    color: white;
    font-size: 40px;
    text-align: center;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-menu {
    display: flex;
    column-gap: 20px;
    /* row-gap: 30px; */
    justify-content: center;
    padding-bottom: 60px;

}

.footer-menu div a {
    text-decoration: none;
    color: aliceblue;
    font-size: 14px;
}

/* website-2 style start */



.national-area {
    box-shadow: 3px 3px 5px gray;
    border-radius: 5px;
    gap: 10px;
}

.national-flag {
    display: flex;
    align-items: center;
    gap: 5px;
    row-gap: 10px;

}

.img-flag img {
    width: 150px;
    height: 130px;
}

.match-info {
    margin-left: 10px;
}

#text-date {
    font-size: 14px;
    font-weight: 100px;
}

/* end */


/* -------------------
MObile Device ---------------  */
@media only screen and(max-width:668px) {
    .container {
        width: 100%;
    }

    .half-width {
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* -------------------
-----------Tabler Device------ */
/* @media only screen and(min-width:668px)and (max-width:992px) {
    .container {
        width: 100%;
        background-color: #161616;
    }
} */